.slim {
  height: 56px;
}

.height {
  height: 80px;
  font-weight: lighter;
}

.active {
  font-weight: bold;
}

button {
  font-weight: lighter;
}

.spacer {
  flex: 1 1 auto;
}

mat-icon {
  margin-right: 10px;
}
